@{
    ViewBag.Title = "AboutMe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Ayşegül Demirtaş 
    </p>

    <p>
        Computer Engineering Second Education
    </p>

    <p>
        1105012034
    </p>
</article>

<aside>
    <img src="~/Content/img/pastry blog me.jpg" />
</aside>