@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
       
    </header>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label"></span>
        <span><a href="https://www.live.com/">aysegul_demirtas@hotmail.com.tr</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Course</h3>
    </header>
    <p>
        Ceng311<br />
        Yıldırım Beyazıt University
    </p>
</section>