@{
    ViewBag.Title = "Cakerella";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Who am I: My name is Ayşegül and I am a student, living and studying around Ankara, with a lifelong addiction to all things sweet. 
                My love for baking has led me down some unexpected but very rewarding (and delicious) paths.
                Where I’ve been: In 2005 I took a six-month professional pastry course at Tante Marie’s Cooking School, which focused on classic French patisserie.  
                I braved the perils of burning sugar, overwhipped egg whites, and melting fondant to make croissants, croquembouche, and tarte tatin.  A record of my travails can be found at my Flickr page.
                 After graduating, I fulfilled one of my lifelong dreams and worked full time in a beautiful little bakery in the East Bay, turning out cakes, croissants, and chocolate. 
                At the same time my curiosity about photography, which sprung from a desire to document all my experiences in the kitchen, evolved into a professional passion. I had started Dessert First as a way to combine several of my interests: baking, photography, and writing.
                 Now it had become a springboard for me to share with world how I feel about the beauty and joy of food.
            </p>
        </div>
    </section>
}

